body {
	margin: 10;
	padding: 10;
	background-color: #999999;
}

.navbar {
	grid-area: navbar;
	background-color: #bbbbbb;
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
}

.contact {
	grid-area: contact;
	background-color: #bbbbbb;
}

.hidden {
	grid-area: hidden;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;

	grid-template-columns: 250px 1fr 4fr 1fr;
	grid-template-rows: auto 1fr 1fr auto;
	grid-template-areas:
	'hidden   .  header  . '
	'navbar   .  content . '
	'navbar   .  content . '
	'contact  .  content . '
	'contact  .  .       . ';

}

.link-image {
	height: 1.5em;
	width: 1.6em;
}

a {
	font-family: 'IBM Plex Mono', monospace;
}

.nav-link {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 2em;
}

a:link {
	color: blue;
}

a:visited {
	color: #555555;
}

a:hover {
	color: green;
}

h1 {
	font-size: 4em;
	color: aqua;
	font-variant-caps: small-caps
}

h2 {
	color: blue;
	font-variant-caps:petite-caps
}

h3 {
	font-variant-caps: small-caps;
}
